extends layout 

block content
    .col-md-6
        h5.card-title #{urun.Name}
        .card.mb-3     
            .card-header.text-center
                img.card-img-top(src=`${urun.ImageUrl}` alt=`${urun.Name}` width="200px")
            .card-body.text-center
                p.card-text Fiyat : #{urun.Price}
            .card-footer.text-end
